.u-ml-15 {
  margin-left: 0;

  @media (min-width: 769px) {
    margin-left: 15px;
  }
}

.u-pb-30 {
  padding-bottom: 30px;
}

.u-error {
  display: block;
  color: $error !important;
  // margin-bottom: 25px;
}

.u-hasError {
  border: 2px solid #f31414 !important;
  outline: none;
}
