.l-section {
  position: relative;
  padding: 60px 0;

  & svg.ellipse--1 {
    position: absolute;
    top: 0;
    right: 0;
  }

  & svg.ellipse--2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  & .c-form__error {
    // margin-bottom: 25px;
  }
}
