.c-button {
  padding: 16px 20px;
  width: 100%;
  cursor: pointer;
  font-family: "Source Serif Pro", serif;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 2px;

  &:focus {
    // outline: 2px solid #cfb53b;
  }

  &--gold {
    background: linear-gradient(180deg, #fad25a 0%, #cfb53b 100%);
  }
}
