.c-headline {
  color: var(--off-white);
  flex: 1;

  &__title {
    font-size: 34px;
    line-height: 125%;
    font-weight: bold;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;

    &:last-child {
      margin-bottom: 50px;
    }
  }
}
