.c-hero {
  background: linear-gradient(
    180deg,
    var(--black-900) 0%,
    var(--black-800) 100%
  );
  min-height: 100vh;

  &__logo {
    margin-bottom: 50px;
  }

  &__wrapper {
    display: flex;
    height: 100%;
    z-index: 1;
    flex-direction: column-reverse;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    & .c-headline {
      &__title {
        margin-bottom: 24px;
      }

      &__subtitle {
        margin-bottom: 15px;
      }
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
    margin-bottom: 50px;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }

    & > img {
      width: 100%;
      max-width: 350px;
      z-index: 1;

      @media (min-width: 768px) {
        max-width: 450px;
      }
    }
  }

  & > .c-container {
    flex-direction: column;
  }
}
